body {
    border: solid 3px orange;
    margin-left: 20%;
    margin-right: 20%;
}
p {
    align-items:center;
    margin-left:30%;
}
p2 {
    align-items: center;
    margin-left: 15%;
}

h1{
    text-align:center;
}